<?php if ($this->widget->form->model->hasPublishedVersion): ?>
    <div class="publish-to-s3" style="margin-bottom: 50px;">
        <div class="" style="margin-bottom: 30px; margin-top: 0px;width:50%" data-field-name="publish_at" id="Form-field-Page-publish_at-group">
            <label for="Form-field-Page-publish_at">
                Upload to S3 at
            </label>
            <p class="help-block before-field">
                Time when the page should be published to S3 (immediately if empty)
            </p>

            <!-- Widget -->
            <div id="DatePicker-formPublishAt-publish_at" class="field-datepicker" data-control="datepicker" data-format="DD.MM.YYYY" data-mode="datetime" data-show-week-number="" data-disposable="">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Date -->
                        <div class="input-with-icon right-align">
                            <i class="icon icon-calendar-o"></i>
                            <input type="text" id="DatePicker-formPublishAt-date-publish_at" class="form-control align-right" autocomplete="off" data-datepicker="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Time -->
                        <div class="input-with-icon right-align">
                            <i class="icon icon-clock-o"></i>
                            <input type="text" id="DatePicker-formPublishAt-time-publish_at" class="form-control align-right" autocomplete="off" data-timepicker="">
                        </div>
                    </div>
                </div>
                <!-- Data locker -->
                <input type="hidden" name="Page[publish_at]" id="Form-field-Page-publish_at" value="" data-datetime-value="">
                <input type="hidden" name="class" id="model_class" value="<?php echo get_class($this->widget->form->model); ?>">
            </div>
        </div>
        <div>
            <button
                type="button"
                style="background: green;margin-top: -10px;"
                onclick="$(this).data('request-data', {
                    publish_at: $('#Form-field-Page-publish_at').val(),
                    model: $('#model_class').val()
                })"
                data-request="onUpload"
                data-request-data="redirect:0"
                data-load-indicator="Publish"
                data-request-confirm="Are you sure you want to upload this page?"
                class="btn btn-primary">
                Upload published version (<?php echo $this->widget->form->model->currentVersionNumber ?>) to S3
            </button>
        </div>
    </div>
<?php endif ?>
